@font-face {
    font-family: 'LordLung';
    src: url(elements/LordLung.otf);
}

@font-face{
    font-family: 'ZTTalk';
    src: url(elements/ZTTalk.otf);
}

body{
    font-family: 'ZTTalk';
    color: #c6a67b;
    background-color: #1a1a1a;
    font-size: 15pt;
}

section{
    padding-top: 50px;
    padding-bottom: 50px;
    border-bottom: #c6a67b 1px solid;
}

h1{
    font-family: 'lordlung';
    font-weight: normal;
    font-size: 80pt;
}

a{
    text-decoration: none;
    color: #c6a67b;
}


.texte{
    text-align: justify;
    width: 75%;
}

ul, li{
    list-style-type: none;
}

header{
    display: flex;
    align-items: center;
    width: 100%;
    position: fixed;
    padding-top: 15px;
    z-index: 1;
}

#cta_home{
    display: flex;
    justify-content: center;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
}

#cta_home:hover{
    filter: brightness(40%) saturate(800%);
}

hr{
    width: 95%;
    border-color: #c6a67b;
}

img{
    filter: drop-shadow(5px 5px 15px black);
}

#home{
    width: 100%;
    height: auto;
    background-image: url(background1.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-column: 1/6;
}

.logo{
    grid-column: 1/3;
}

.content{
    grid-column: 3/6;
}

#options{
    display: flex;
    justify-content: center;
}

#menu1{
    display: flex;
    justify-content: center;
}

#list1{
    padding: 35px;
}

#list1:hover{
    filter: brightness(40%) saturate(800%);
}

#summary{
    background-image: url(background2.jpg);
    background-size: cover;
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid: 1/6;
}

#content_summary{
    padding: 100px;
    grid-column: 1/6;
}

.list2{
    margin: 0;
    display: flex;
    align-items: center;
    padding-left: 500px;
    grid-column: 3/6;
}

.list2:hover{
    filter: brightness(40%) saturate(800%);
}


b{
    margin-right: 10px;
}

#projets_personnels{
    background-image: url(background1.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.titles{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 100px;
    
}

#partie{
    padding-left: 50px;
}

table{
    display: flex;
    justify-content: center;
}

td{
    padding: 35px;
}

#gallery{
    width: auto;
    height: 500px;
    display: flex;
    flex-direction: row;
    border-spacing: 50px;
    z-index: -1;
}

#desc_annie, #desc_berthy, #desc_porco{
    width: 350px;
    text-align: center;
    z-index: 1;
    position: absolute;
    top: 2480px;
    padding: 30px;
    display: flex;
    align-items: end;
    opacity: 0;
    font-size: 80%;
    background-color: #1a1a1a;
}

#desc_reiner, #desc_vivian, #desc_october{
    width: 350px;
    text-align: center;
    z-index: 1;
    position: absolute;
    top: 3055px;
    padding: 30px;
    opacity: 0;
    font-size: 80%;
    background-color: #1a1a1a;
}

#desc_tattoo1, #desc_tattoo2, #desc_tattoo3{
    width: 300px;
    text-align: center;
    z-index: 1;
    position: absolute;
    top: 3630px;
    padding: 30px;
    opacity: 0;
    font-size: 80%;
    background-color: #1a1a1a;
}

#desc_dessin1, #desc_dessin2, #desc_dessin3{
    width: 300px;
    text-align: center;
    z-index: 1;
    position: absolute;
    top: 4180px;
    padding: 30px;
    opacity: 0;
    font-size: 80%;
    background-color: #1a1a1a;
}

#desc_annie:hover, #desc_berthy:hover, #desc_porco:hover, #desc_reiner:hover, #desc_vivian:hover, #desc_tattoo1:hover, #desc_tattoo2:hover, #desc_tattoo3:hover, #desc_october:hover, #desc_dessin1:hover, #desc_dessin2:hover, #desc_dessin3:hover{
    opacity: 1;
    transition: 0.5s;
}


#menu3{
    display: flex;
    flex-direction: row;
    padding-left: 0;
}

#menu3:hover{
    filter: brightness(40%) saturate(800%);
}